{% extends 'base.html' %}

{% block title %}
AddAnm
{% endblock %}

{% block content %}
    <div class="container">
        {% if form.errors and form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{form.non_field_errors}}
            </div>
        {% endif %}
        <form action="{% url 'noteapp:addtag' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Tag name</label>
                {{ form.name }}
                <span>{{ form.errors.name }}</span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </form>
    </div>
{% endblock %}