{% extends 'base.html' %}


{% block title %}
Quotes
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md">
                <div class="card-body">
                    <h5 class="card-title"><b>{{author.fullname}}</b></h5>
                    <p class="card-text"><b>Born </b>{{author.born_date}} {{ author.born_location }}</p>
                    <p class="card-text"><b>Description:</b></p>
                    <p class="card-text">{{author.description}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}